Checks: "clang-diagnostic-*,
  clang-analyzer-*,
  fuchsia-statically-constructed-objects,
  *,
  -readability-identifier-length,
  -llvmlibc-*,
  -llvm-namespace-comment,
  -llvm-include-order,
  -altera-*,
  -fuchsia-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -llvm-header-guard,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-do-while,
  -hicpp-vararg,
  -concurrency-mt-unsafe,
  -modernize-use-using,
  -abseil-*"
WarningsAsErrors: true
HeaderFilterRegex: ""
FormatStyle: file
